.about__container {
  box-sizing: border-box;
  width: 94%;
  height: 95%;
  margin: auto;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffff5c;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 20px 0px rgb(255 255 255 / 20%);
}

.about__container > h1 {
  position: relative;
  width: fit-content;
  text-shadow: 3px 2px 1px coral;
}

.about__container > h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: black;
  box-shadow:  2px 1.5px 1px coral
}

.about__container > p {
  line-height: 2;
  font-size: 16px;
}

.about__name {
  font-style: italic;
  text-shadow: 0 0 5px coral;
}

.about__container > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.piece__container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
