.animated-grid {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(180deg, #ffffff5c 0%, #ffffff5c 75%);
  width: 450px;
  height: auto;
  margin: auto;

  display: grid;
  gap: 1rem;

  grid-template-areas:
    " a  b  c  d "
    " e  f  g  h "
    " B  B  B  B "
    " B  B  B  B "
    " B  B  B  B "
    " B  B  B  B "
    " i  j  k  l "
    " m  n  o  p ";

  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(4, 100px);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 20px 0px rgb(255 255 255 / 20%);
  filter: none;
  animation: about_animation 300ms ease-in-out;
  --stagger-delay: 100ms;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(7) {
  grid-area: g;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(8) {
  grid-area: h;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(9) {
  grid-area: i;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(10) {
  grid-area: j;
  animation-delay: calc(6 * var(--stagger-delay));
}
.card:nth-child(11) {
  grid-area: k;
  animation-delay: calc(7 * var(--stagger-delay));
}
.card:nth-child(12) {
  grid-area: l;
  animation-delay: calc(8 * var(--stagger-delay));
}
.card:nth-child(13) {
  grid-area: m;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(14) {
  grid-area: n;
  animation-delay: calc(6 * var(--stagger-delay));
}
.card:nth-child(15) {
  grid-area: o;
  animation-delay: calc(7 * var(--stagger-delay));
}
.card:nth-child(16) {
  grid-area: p;
  animation-delay: calc(8 * var(--stagger-delay));
}

.board {
  grid-area: B;
}

.indicators__container {
  position: absolute;
  top: 80%;
  left: -53%;
}

.indicators__container > div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}
