.container {
  width: 50vw;
  height: 50vh;
  margin: auto;
  background: grey;
}

.source {
  width: 100%;
  height: 20%;
  background: rgb(209, 206, 206);
  border-radius: 5px;
}

.draggable {
  width: 98%;
  height: 98%;
  margin: auto;
  background-color: red;
  border-radius: 5px;
}

.target {
  width: 100%;
  height: 20%;
  background: rgb(223, 147, 147);
  border-radius: 5px;
}
