@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  list-style: none;
}

html {
  overflow: hidden;
}

ul li {
  margin: 0%;
  padding: 0%;
}

body {
  background: rgb(191, 191, 191);
  filter: drop-shadow(0 0 5px coral);
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

h5 {
  padding: 0;
  margin: 0;
  line-height: 2;
}

h2 {
  letter-spacing: 5px;
}

#svgFilter {
  display: none;
}
